body{
    margin:0;
    background-color: antiquewhite;
}
.container{
    background: url("background2.jpg") no-repeat;
    background-size: cover;
    border:2px solid magenta;
}
.logotxt{
    gap:5px;
    align-items: center;
    margin: 10px 10px;
    display:flex;
    border:2px solid magenta;
}
.logo{
    border:2px solid magenta;
}
.logo img{
    max-width: 100px;
}
.txt{
    text-shadow: 1px 1px 2px black;
    color:aqua;
    font-family: 'Lucida Sans';
    font-size: 2rem;
    border:2px solid magenta;
}
.titlubtn{
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    margin:10% 10px;
    border:2px solid magenta;
}
.titlu{
    text-shadow: 3px 3px 4px black ;
    font-family: 'Lucida Sans';
    font-size:2rem;
    width: 50%;
    text-align: center;
    color:white;
    border:2px solid magenta;
}
.btn{
    width: 25%;
    gap:1rem;
    display: flex;
    justify-content: space-evenly;
    border:2px solid magenta;
}
.btn1{
    border-radius: 30px;
    font-family: 'Lucida Sans';
    font-size: 1.5rem;
    padding: 10px 10px;
    background-color: aqua;
    color:black;
    border:2px solid magenta;
}
.btn2{
    background-color: aqua;
    color:black;
    border-radius: 30px;
    font-family: 'Lucida Sans';
    font-size: 1.5rem;
    padding: 10px 10px;
    border:2px solid magenta;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    color:white;
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.btn1:hover{
    background-color:black;
    color:white;
    transition:all 0.5s;
}
.btn1:hover a{
    color:white;
}
.btn2:hover{
    background-color:black;
    color:white;
    transition:all 0.5s;
}
.btn2:hover a{
    color:white;
}
@media (max-width:900px){
    .logo img{
        max-width: 80px;
    }
    .txt{
        font-size:1.5rem;
    }
    .titlu{
        font-size:1rem;
    }
    .btn1{
        font-size:1rem;
    }
    .btn2{
        font-size:1rem;
    }
}
.container2{
    justify-content: space-evenly;
    margin: 5% auto;
    padding: 0px;
    display:flex;
    align-items: center;
    border:2px solid magenta;
}
.img2{
    width: 45%;
    border:2px solid magenta;
}
.img2 img{
    width:100%;
    max-width: 900px;
}
.txtmen{
    font-size: 1.5rem;
    width: 45%;
    text-align: center;
    border:2px solid magenta;
}
@media (max-width:700px){
    .container2{
        flex-direction: column;
    }
    .txtmen{
        font-size: 1rem;
        width:100%;
    }
    .img2{
        width:100%
    }
}